* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

body {
  background: linear-gradient(
    to right,
    rgba(82, 82, 255, 0.691) 0%,
    rgba(24, 250, 122, 0.696) 90%
  );

  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    h1 {
      color: rgb(255, 255, 255);
      font-size: 3rem;
      padding: 3rem;
    }
  }

  form {
    input {
      border: none;
      font-size: 1.5rem;
      padding: 0.2rem 0.65rem;
    }
    button {
      color: aliceblue;
      background-color: rgb(25, 136, 61);
      font-size: 1.5rem;
      padding: 0.2rem 0.65rem;
      border: none;
      cursor: pointer;
    }
    input[type="number"] {
      width: 55px;
    }
    input[type="text"] {
      width: 300px;
    }

    // hide arrow
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  div.sort {
    button {
      color: aliceblue;
      background-color: rgb(25, 136, 61);
      font-size: 1.5rem;
      padding: 0.2rem 0.65rem;
      border: none;
      margin-top: 3rem;
      cursor: pointer;
    }
  }

  section {
    div.todo {
      display: flex;
      background-color: rgb(255, 255, 255);
      font-size: 1.5rem;
      // padding: 0.2rem 0.65rem;
      margin: 0.5rem;
      width: 300px;
      justify-content: space-between;
      transition: all 0.2s ease;

      div.left {
        p.text {
          padding-left: 0.25rem;
        }
      }
      div.right {
        display: flex;
        justify-content: end;
        p.date {
          padding-top: 0.25rem;
          padding-right: 0.25rem;
        }
        i.fa-check {
          padding-top: 0.3rem;
          padding-left: 0.3rem;
          width: 30px;
          background-color: rgb(53, 255, 113);
          color: rgb(255, 255, 255);
          cursor: pointer;
        }
        i.fa-trash-can {
          padding-top: 0.3rem;
          padding-left: 0.3rem;
          width: 30px;
          background-color: rgb(255, 0, 0);
          color: rgb(255, 255, 255);
          cursor: pointer;
        }
      }
    }

    div.done {
      opacity: 0.3;
      text-decoration: line-through;
      text-decoration-thickness: 0.2rem;
    }
  }
}

@keyframes jump {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes jump2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
